<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
  <title>Form</title>
</head>
<style>
  h1{
    font-size: 120px;
  }
   .login{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   }
   .login-btn{
    border: 1px solid;
    padding: 10px 60px;
    border-radius: 4px;
    text-decoration: unset;
   }
</style>
<body>
  <div class="login">
    <h1>Welcome</h1>
    <a class="login-btn" href="/admin">Login</a>
  </div>
</body>
</html>